<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <variable name="myvar" value="myvalue"/>

  <targets>
    <target xsi:type="File" name="logfile" fileName="logs/${date:format=yyyyMMdd}.txt"/>
    <target xsi:type="Mail" name="logmail"
            smtpServer="smtp.163.com"
            smtpPort="25"
            smtpAuthentication="Basic"
            smtpUserName="18817676235@163.com"
            smtpPassword="huahuajjh3"
            enableSsl="true"
            addNewLines="true"
            from="18817676235@163.com"
            to="703825021@qq.com,measca@qq.com"
            subject="${date:format=yyyyMMdd HHmm} bug_report"
            header="================================="
            body="${newline} ${message} ${newline}"
            footer="================================="/>
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="logfile" />
    <logger name="*" minlevel="Info" writeTo="logmail" />
  </rules>
</nlog>
