<?xml version="1.0"?>
<WebInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <WebName>约游约呗大学生旅游官网</WebName>
  <WebDomain>http://www.yueyouyuebei.com</WebDomain>
  <WebLogo>/upLoadFiles/20160706/2016070610452791.jpg</WebLogo>
  <WebICP>蜀ICP备15021181号</WebICP>
  <WebLock>1</WebLock>
  <WebCompanyName>四川约友约游科技有限公司</WebCompanyName>
  <WebLicence>L-SC-A00332</WebLicence>
  <WebEmail>tanjie@yueyouyuebei.com</WebEmail>
  <WebTel>028-87306550</WebTel>
  <WebQQ>2468596677</WebQQ>
  <WebAddress>成都市高新区益州大道中段722号复城国际T4栋607-608号</WebAddress>
  <QQServiceState>1</QQServiceState>
  <QQServices>国内游:2468596888|出境游:879783188|周边游:2468596888|旅行印记:879783188</QQServices>
  <SEOTitle>旅游线路，旅游攻略，景点门票，游记，户外，九寨沟，大学生旅游</SEOTitle>
  <SEOKeywords>旅游,旅游线路,成都周边游,大学生旅游,旅游攻略，旅行印记，暑期旅游，景点门票，国色天香,南湖梦幻岛,欢乐谷,九寨沟，四川旅游，大学生，九寨沟，峨眉山</SEOKeywords>
  <SEODescription>约游约呗—专注于大学生旅游，大学生自己的旅游，专为大学生出行一站式服务</SEODescription>
  <WebFilePath>upLoadFiles</WebFilePath>
  <WebFileType>GIF|JPG|JPEG|PNG</WebFileType>
  <WebFileSize>5120</WebFileSize>
  <IsThumbnail>0</IsThumbnail>
  <ProWidth>190</ProWidth>
  <ProHight>130</ProHight>
  <IsWatermark>0</IsWatermark>
  <WatermarkStatus>9</WatermarkStatus>
  <ImgQuality>80</ImgQuality>
  <ImgWaterPath>watermark.png</ImgWaterPath>
  <ImgWaterTransparency>8</ImgWaterTransparency>
  <WaterText />
  <WaterFont>Arial</WaterFont>
  <FontSize>18</FontSize>
  <MYD>98</MYD>
  <SearchKey>大学生旅游 学生旅游 户外 约游约呗</SearchKey>
  <WorkTime>9:30-18:00</WorkTime>
  <FristReg>100</FristReg>
  <MobileValidate>50</MobileValidate>
  <EmailValidate>50</EmailValidate>
  <AlipayAccount>tanjie@yueyouyuebei.com</AlipayAccount>
  <AlipayPid>2088221701206274</AlipayPid>
  <AlipayKey>81rlvox0w1fc0w4o88foirltcwx572ts</AlipayKey>
  <AlipaySiyue />
  <AlipayGongyue>3</AlipayGongyue>
  <AlipayIslock>1</AlipayIslock>
  <ChinabankAccount />
  <ChinabankKey />
  <ChinabankIslock>1</ChinabankIslock>
  <EmailUsername>约游约呗</EmailUsername>
  <EmailPassword>wditsjgk11</EmailPassword>
  <EmailAccount>yueyouyuebei@163.com</EmailAccount>
  <EmailSmtp>smtp.163.com</EmailSmtp>
  <EmailPort>25</EmailPort>
  <EmailIslock>1</EmailIslock>
  <SmsHostname>http://222.73.117.169/msg/HttpBatchSendSM</SmsHostname>
  <SmsUsername>HCCF123</SmsUsername>
  <SmsPassword>vAsOn168168*</SmsPassword>
  <SmsIslock>1</SmsIslock>
  <Holiday>2</Holiday>
  <WXName>TravelCMS</WXName>
  <WXM>/upLoadFiles/20160705/2016070523581712.jpg</WXM>
  <XLWBName />
  <XLWBM />
  <XLWBUrl />
  <TXWBUrl />
  <AppID>wx462bea8643df9214</AppID>
  <AppSecret>a4422e211542b35242ef93ae377f6ce8</AppSecret>
  <Mchid>1394199702</Mchid>
  <Key>yueyouyueyou8888yueyouyueyou8888</Key>
  <WxpayIsLock>1</WxpayIsLock>
</WebInfo>