<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="CustomConfiguration" type="URLRewriter.Config.UrlsSection, URLRewriter"/>
  </configSections>
  <CustomConfiguration>
    <urls>
      <!--([\w]+)表示，1到n个字母或数字或下划线或汉字组成-->
      <add virtualUrl="~/line/([\w]+)*.html" destinationUrl="~/Line.aspx?id=$1"/>
      <add virtualUrl="~/lineorder/([\w]+)*/([\w]+)*/([\w]+)*/([\w]+)*.html" destinationUrl="~/Order.aspx?ordertime=$1&amp;adult=$2&amp;child=$3&amp;id=$4"/>
      <add virtualUrl="~/lineorder/2/([\w]+)*.html" destinationUrl="~/Order2.aspx?oid=$1"/>
      <add virtualUrl="~/lineorder/3/([\w]+)*.html" destinationUrl="~/Order3.aspx?oid=$1"/>
      <add virtualUrl="~/lineorder/4/([\w]+)*.html" destinationUrl="~/Order4.aspx?oid=$1"/>
      <add virtualUrl="~/lineorder/5/([\w]+)*.html" destinationUrl="~/OrderinfoSuc.aspx?oid=$1"/>
      <add virtualUrl="~/linemodel/([\w]+)*.html" destinationUrl="~/LineModel.aspx?od=$1"/>
      <add virtualUrl="~/model/([\w]+)*_([\w]+)*.html" destinationUrl="~/LineModel.aspx?nav=$1&amp;od=$2"/>
      <add virtualUrl="~/linemodel/([\w]+)*/([\w]+)*.html" destinationUrl="~/LineModel.aspx?od=$1&amp;td=$2"/>
      <add virtualUrl="~/linemodel/([\w]+)*/([\w]+)*/([\w]+)*.html" destinationUrl="~/LineModel.aspx?od=$1&amp;td=$2&amp;thd=$3"/>
      <add virtualUrl="~/line/([\w]+)*/([\w]+)*/([\w]+)*/([\w]+)*.html" destinationUrl="~/LineModel.aspx?nav=$1&amp;od=$2&amp;td=$3&amp;thd=$4"/>
      <add virtualUrl="~/linesub/([\w]+)*/([\w]+)*/([\w]+)*.html" destinationUrl="~/LineModel.aspx?nav=$1&amp;od=$2&amp;td=$3"/>
      <add virtualUrl="~/line/([\w]+)*/([\w]+)*/([\w]+)*/([\w]+)*/([\w]+)*/([\w]+)*/([\w]+)*/([\w]+)*/([\w]+)*/([\w]+)*/([\w]+)*/([\w]+)*/([\w]+)*/([\w]+)*.html" destinationUrl="~/LineModel.aspx?nav=$1&amp;od=$2&amp;td=$3&amp;thd=$4&amp;c=$5&amp;p=$6&amp;d=$7&amp;Tu=$8&amp;Te=$9&amp;Re=$10&amp;pu=$11&amp;pd=$12&amp;rq=$13&amp;pr=$14"/>
      <add virtualUrl="~/line/([\w]+)*/([\w]+)*/([\w]+)*/([\w]+)*/([\w]+)*/([\w]+)*/([\w]+)*/([\w]+)*/([\w]+)*/([\w]+)*/([\w]+)*/([\w]+)*/([\w]+)*/([\w]+)*/([\w]+)*.html" destinationUrl="~/LineModel.aspx?nav=$1&amp;od=$2&amp;td=$3&amp;thd=$4&amp;c=$5&amp;p=$6&amp;d=$7&amp;Tu=$8&amp;Te=$9&amp;Re=$10&amp;pu=$11&amp;pd=$12&amp;rq=$13&amp;pr=$14&amp;page=$15"/>
      <add virtualUrl="~/visa/([\w]+)*_.html" destinationUrl="~/visa/Default.aspx?nav=$1"/>
      <add virtualUrl="~/visa_([\w]+)*.html" destinationUrl="~/visa/VisaMore.aspx?countryid=$1"/>
      <add virtualUrl="~/visa/([\w]+)*.html" destinationUrl="~/visa/VisaDetail.aspx?id=$1"/>
      <add virtualUrl="~/visa/order/([\w]+)*.html" destinationUrl="~/visa/VisaOrder.aspx?id=$1"/>
      <add virtualUrl="~/theme/([\w]+)*_.html" destinationUrl="~/Theme.aspx?nav=$1"/>
      <add virtualUrl="~/theme/([\w]+)*.html" destinationUrl="~/ThemeModel.aspx?id=$1"/>
      <add virtualUrl="~/theme/([\w]+)*/([\w]+)*.html" destinationUrl="~/ThemeModel.aspx?id=$1&amp;page=$2"/>
      <add virtualUrl="~/new/([\w]+)*/([\w]+)*.html" destinationUrl="~/New.aspx?nav=$1&amp;id=$2"/>
      <add virtualUrl="~/newlist/([\w]+)*.html" destinationUrl="~/NewsList.aspx?nav=$1"/>
      <add virtualUrl="~/newlist/([\w]+)*/([\w]+)*.html" destinationUrl="~/NewsList.aspx?nav=$1&amp;page=$2"/>
      <add virtualUrl="~/article/([\w]+)*.html" destinationUrl="~/Article.aspx?navid=$1"/>
      <add virtualUrl="~/search/([\w]+)*/([\w]+)*/([\w]+)*/([\w]+)*/([\w]+)*/([\w]+)*/([\w]+)*/([\w]+)*/([\w]+)*/([\w]+)*/([\w]+)*.html" destinationUrl="~/Search.aspx?k=$1&amp;c=$2&amp;p=$3&amp;d=$4&amp;Tu=$5&amp;Te=$6&amp;Re=$7&amp;pu=$8&amp;pd=$9&amp;rq=$10&amp;pr=$11"/>
      <add virtualUrl="~/search/([\w]+)*/([\w]+)*/([\w]+)*/([\w]+)*/([\w]+)*/([\w]+)*/([\w]+)*/([\w]+)*/([\w]+)*/([\w]+)*/([\w]+)*/([\w]+)*.html" destinationUrl="~/Search.aspx?k=$1&amp;c=$2&amp;p=$3&amp;d=$4&amp;Tu=$5&amp;Te=$6&amp;Re=$7&amp;pu=$8&amp;pd=$9&amp;rq=$10&amp;pr=$11&amp;page=$12"/>
    </urls>
  </CustomConfiguration>
  <appSettings>
    <add key="WebInfoConfig" value="~/config/WebInfo.config"/>
    <add key="DbAccessPath" value="~/App_Data/TravelAgent.mdb"/>
    <add key="DAL" value="TravelAgent.DALSQL"/>
    <add key="BLL" value="TravelAgent.BLL"/>
    <add key="debug" value="1"/>
    <add key="SMS.PostUrl" value="http://222.73.117.169/msg/HttpBatchSendSM" />
    <add key="SMS.Account" value="HCCF123" />
    <add key="SMS.Password" value="vAsOn168168*" />
  </appSettings>
  <connectionStrings>
    <add name="ConnectionSQLString" connectionString="Data Source=.;Initial Catalog=ly2;User ID=sa;pwd=huahuajjh3;" providerName="System.Data.SqlClient"/>
    <!--add name="ConnectionSQLString" connectionString="Data Source=.,7512;Initial Catalog=ly2;User ID=sa;pwd=J!2@(3$)stya/#o!i;" providerName="System.Data.SqlClient"/-->
  </connectionStrings>
  <!--system.web>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
    <httpRuntime maxRequestLength="2048" executionTimeout="600"/>
    <compilation debug="true" targetFramework="4.5"/>
    <authentication mode="Windows"/>
    <customErrors mode="Off" defaultRedirect="http://yueyouyuebei.com/500.html">
      <error statusCode="403" redirect="http://yueyouyuebei.com/403.html"/>
      <error statusCode="404" redirect="http://yueyouyuebei.com/404.html"/>
      <error statusCode="500" redirect="http://yueyouyuebei.com/500.html"/>
    </customErrors>   
    
    <httpModules>
      <add type="URLRewriter.RewriterModule, URLRewriter" name="RewriterModule"/>
    </httpModules>
    
  </system.web-->  
  
  <system.webServer>    
    <httpErrors errorMode="Custom">      
      <remove statusCode="404"/>
      <remove statusCode="403"/>
      <remove statusCode="500"/>
      <error statusCode="403" path="http://yueyouyuebei.com/403.html" responseMode="Redirect"/>
      <error statusCode="404" path="http://yueyouyuebei.com/404.html" responseMode="Redirect"/>
      <error statusCode="500" path="http://yueyouyuebei.com/500.html" responseMode="Redirect"/>
    </httpErrors>
    <modules>
      <add type="URLRewriter.RewriterModule, URLRewriter" name="RewriterModule"/>      
    </modules>    
  </system.webServer>
  <system.web>
    <httpRuntime requestValidationMode="2.0"/>
    <pages validateRequest="false"/>
    <compilation debug="true"/>
  </system.web>
</configuration>