body {background: #f4f4f4;}
.hl_bd .widget_crumbs { height: 30px; line-height: 30px;  margin: 0 0 10px 10px; width: auto;}
.hl_bd .widget_crumbs .widget_linkw a{ margin: 0 10px;}
.hl_bd .widget_crumbs .widget_linkw .txt{ margin: 0 10px;}