html {
  height: 100%;
}
.tq-m-address{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  overflow-x: hidden;
  overflow-y: auto;
  display: none;
}
.tq-m-address .address-win{
  border: 1px solid #cecbce;
  width: 80%;
  background: #fff;
  -moz-box-shadow: 0 0 5px #ddd;
  -webkit-box-shadow: 0 0 5px #ddd;
  box-shadow: 0 0 5px #ddd;
  margin: 100px auto;
  box-sizing:border-box;
  border-radius: 5px;
}
.tq-m-address .address-win .address-win-head{
  border-bottom: 5px solid #4AAED0;
  position: relative;
}
.tq-m-address .address-win .address-win-head:after{
  content: "";
  display: block;
  clear: both;
}
.tq-m-address .address-win .address-win-head .close-btn {
  position: absolute;
  right: 0;
  top: 0;
  color: #555;
  text-decoration: none;
  font-size: 20px;
  padding: 8px 10px;
}
.tq-m-address .address-win .address-win-head .tab{
  list-style: none;
  margin: 0;
  padding: 0;
  display: table;
  height: 45px;
}
.tq-m-address .address-win .address-win-head .tab > a{
  text-decoration: none;
  display: table-cell;
  vertical-align: middle;
  color: #58B1D1;
  cursor: pointer;
  padding-right: 10px;
  font-size: 15px;
}
.tq-m-address .address-win .address-win-head .tab > a.curr{
  color: #555;
}
.tq-m-address .address-win .address-win-head .tab > a:before{
  color: #58B1D1;
  content: ">";
  padding-right: 10px;
}
.tq-m-address .address-win .address-win-head .tab > a:first-child:before{
  content: "";
}
.tq-m-address .clear-float{
  clear: both;
}
.tq-m-address .area-panel {
  padding: 10px;
}
.tq-m-address .area-panel .msg{
  font: 14px/150% Arial,Verdana,"宋体";
  padding: 5 0;
  text-align: center;
}
.tq-m-address .area-panel .area-list {
  list-style: none outside none;
  padding: 0;
  margin: 0;
}
.tq-m-address .area-panel .area-list li {
  float: left;
  background-color: #f1f8ff;
  border-radius: 2px;
  color: #46A4FF;
  margin: 5px;
  padding: 5px;
}
.tq-m-address .area-panel .area-list li a {
  font: 12px/150% Arial,Verdana,"宋体";
  float: left;
  padding: 2px 4px;
  color: #005aa0;
  cursor: pointer;
}
.tq-m-address .area-panel .area-school {
  clear: both;
  padding-top: 20px;
}
.tq-m-address .area-panel .area-school .school-title {
  font-size: 15px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  padding-left: 5px;
  color: #666;
  margin-bottom: 10px;
}