@charset "utf-8";
	body {
	background:#FFF;
	font:12px/1.5 tahoma,Arial,"瀹嬩綋",SimSun,Helvetica,sans-serif;
	text-align:left;
	color:#333333;
}
html,body,div,span,img,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td {
	border:0;
	outline:none;
	margin:0;
	padding:0;
}
h1,h2,h3,h4,h5,h6 {
	text-decoration:none;
}
from {
	display:block;
}
i,em {
	font-style:normal;
}
u {
	text-decoration:none;
}
ul,li {
	list-style-type:none;
	list-style:none;
}
table,tr,th,td,select,option,input {
	outline:none;
}
a img {
	border:0;
	outline:none;
	blr:expression(this.onFocus=this.blur());
}
a:focus {
	outline:none;
	-moz-outline:none;
}
a {
	text-decoration:none;
	color:#333;
	cursor:pointer;
}
a:link {
	text-decoration:none;
}
a:visited {
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
	color:#ff6600;
}
.fl {
	float:left;
}
.fr {
	float:right;
}
.clear {
	clear:both;
	overflow:hidden;
	height:0;
	font-size:0;
	line-height:0;
}
.preqi {
	font-size:12px;
	color:#999;
	margin-left:3px;
}
.l14 {
	font-size:14px;
	color:#EE6611;
}
.h14 {
	font-size:14px;
	color:#F60;
}
.h16 {
	font-size:16px;
	color:#F60;
}
.h18 {
	font-size:18px;
	color:#F60;
	padding-left:5px;
}
.f18 {
	font-size:18px;
	color:#FF0;
	padding-left:5px;
}
.h20 {
	font-size:20px;
	color:#F60;
	padding-left:5px;
}
.h22 {
	font-size:20px;
	color:#F60;
	padding-left:5px;
}
.h012 {
	font-size:12px;
	color:#FF2900;
}
.h014 {
	font-size:14px;
	color:#FF2900;
}
.h016 {
	font-size:16px;
	color:#FF2900;
}
.ho18 {
	font-size:18px;
	color:#FF2900;
	padding-left:5px;
}
.ho18b {
	font-size:22px;
	color:#FF2900;
}
.ho20 {
	font-size:20px;
	color:#FF2900;
	padding-left:5px;
}
.ho22 {
	font-size:22px;
	color:#FF2900;
	padding-left:5px;
}
.hua20 {
	font-size:20px;
	font-family:Verdana,SimSun,Arial;
}
.top {
	width:100%;
	height:32px;
	background:#FAFAFA;
	border-bottom:1px solid #F1F1F1;
}
.topBox {
	width:1200px;
	height:32px;
	margin:0 auto;
}
.collect {
	height:32px;
	line-height:32px;
	color:#999;
	float:left;
}
.collect a.wuxing {
	color:#666;
	padding:0 10px 0 20px;
	background:url(../images/all.png) no-repeat 0 10px;
	display:inline-block;
}
.collect span {
	color:#666;
	padding:0 10px;
}
.topLogin {
	float:right;
	line-height:32px;
}
.topLine {
	border-right:1px solid #BBB;
	float:left;
	height:12px;
	margin:11px 0 0 12px;
	overflow:hidden;
	width:0;
}
.topLogin a {
	display:inline-block;
	padding-left:25px;
	float:left;
	margin-left:12px;
}
.topLogin a.dl {
	background:url(../images/all.png) no-repeat -383px 9px;
}
.topLogin a.zc {
	background:url(../images/all.png) no-repeat -288px 9px;
}
.topLogin a.bz {
	background:url(../images/all.png) no-repeat -200px 9px;
}
.toplg a {
	display:inline;
	padding:0 10px;
	float:none;
	margin:0;
	color:#666;
}
.toplg a:hover {
	color:#f60;
}
.header {
	width:100%;
	background:#FFF;
}
.headerBox {
	width:1200px;
	height:70px;
	margin:0 auto;
	padding:15px 0;
	position:relative;
}
.logo {
	width:250px;
	height:70px;
	float:left;
}
.searchBox {
	width:520px;
	height:68px;
	position:absolute;
	left:50%;
	top:17px;
	margin-left:-260px;
}
.sou2 {
	height:42px;
	top:29px;
}
.search_form {
	height:42px;
	position:relative;
}
.search_form .ipt {
	width:413px;
	height:38px;
	float:left;
	padding-left:25px;
	line-height:40px;
	color:#999;
	border:2px solid #F80;
	border-right:none;
	background:#FFF url(../images/search_ipt.png) no-repeat 8px center;
}
.search_form .btn {
	width:80px;
	height:42px;
	float:left;
	background:url(../images/all.png) no-repeat 0 -79px;
	cursor:pointer;
}
.search_form .btn:hover {
	background:url(../images/all.png) no-repeat 0 -121px;
}
.search_mdd {
	height:18px;
	font:normal 12px/18px Arial,"瀹嬩綋";
	color:#999;
	margin-top:8px;
}
.search_mdd a {
	margin-right:12px;
	color:#999;
}
.search_mdd a:hover {
	color:#F60;
}
.suggestionsBox {
	width:438px;
	height:auto;
	background:#FFF;
	border:1px solid #DDD;
	position:absolute;
	top:42px;
	left:0;
	z-index:10000;
	overflow:hidden;
}
.suggestionList {
	margin:0px;
	padding:0px;
}
.suggestionList li {
	font:400 12px/30px SimSun,Arial,"瀹嬩綋";
	cursor:pointer;
	overflow:hidden;
}
.suggestionList li a {
	display:block;
	text-indent:10px;
	color:#555;
}
.suggestionList li a:hover {
	text-decoration:none;
	background:#F0F0F0;
	color:#212121;
	font-weight:700;
}
.suggestionList li.cls a {
	text-align:right;
	padding-right:10px;
	color:#f80;
	font-size:14px;
	font-family:"寰蒋闆呴粦",Arial,"瀹嬩綋";
}
.phone {
	background:url(../images/tel.gif) no-repeat left center;
	height:50px;
	padding:10px 0;
	padding-left:55px;
	float:right;
	overflow:hidden;
}
.phone .time {
	font:normal 12px/20px Verdana,Arial,"瀹嬩綋";
	color:#777;
	text-indent:5px;
}
.phone .tel {
	font:bold 27px/30px Arial,"瀹嬩綋";
	color:#F60;
}
.menu {
	width:100%;
	height:48px;
	background:#EE6611;
}
.menuBox {
	width:1200px;
	height:48px;
	margin:0 auto;
}
.mddNav {
	width:210px;
	height:48px;
	font:bold 16px/48px "寰蒋闆呴粦",Arial,"瀹嬩綋";
	float:left;
	background:#FFAA00;
	color:#FFF;
	text-align:center;
}
.mddNav span {
	display:block;
	float:left;
	padding-left:40px;
}
.mddNav i {
	display:block;
	float:left;
	width:17px;
	height:11px;
	margin:19px 0 18px 10px;
	overflow:hidden;
}
.mddNav i.down {
	background:url(../images/all.png) no-repeat -381px -295px;
}
.mddNav i.up {
	background:url(../images/all.png) no-repeat -381px -315px;
}
.chanpin_nav {
	width:208px;
	height:auto;
	float:left;
	zoom:1;
	background:#FFF;
	overflow:visible;
	box-shadow:0 -1px 6px rgba(0,0,0,0.2);
	border:1px solid #e6e6e6;
	border-top:none;
}
.chanpin_nav dl {
	height:auto;
	zoom:1;
	clear:both;
	overflow:visible;
}
.chanpin_nav dl:after {
	content:".";
	height:0;
	display:block;
	clear:both;
	visibility:hidden;
}
.chanpin_nav dt {
	height:52px;
	padding:12px 12px 10px;
	zoom:1;
	border:2px solid #FFF;
	border-left:6px solid #FFF;
	background:url(../images/mdd_line.png) no-repeat bottom center;
	clear:both;
	overflow:visible;
	z-index:88;
	position:relative;
}
.chanpin_nav dt.sfhover {
	border:2px solid #FFAA11;
	border-left:6px solid #FFAA11;
	background:none;
}
.chanpin_nav dt a:hover {
	text-decoration:none;
	color:#f60;
}
.cpTit {
	height:52px;
}
.cpTit_H {
	height:20px;
	font:normal 14px/19px "\5FAE\8F6F\96C5\9ED1",Arial,"瀹嬩綋";
}
.cpTit_H a {
	height:20px;
	display:inline-block;
	float:left;
	padding-left:30px;
	background-image:url(../images/mdd_bj.png);
	background-repeat:no-repeat;
}
.cpTit_H a.ico1 {
	background-position:0 0;
}
.cpTit_H a.ico2 {
	background-position:0 -52px;
}
.cpTit_H a.ico3 {
	background-position:0 -104px;
}
.cpTit_H a.ico4 {
	background-position:0 -169px;
}
.cpTit_H a.ico5 {
	background-position:0 -226px;
}
.cpTit_H a.ico6 {
	background-position:0 -276px;
}
.cpTit_H a.ico7 {
	background-position:0 -326px;
}
.cpTit_H a.ico8 {
	background-position:0 -550px;
}
.chanpin_nav dt i.arrow {
	width:6px;
	height:9px;
	margin:5px 0;
	float:right;
	background:url(../images/cp_i.gif) no-repeat;
	display:inline-block;
	overflow:hidden;
}
.chanpin_nav dt.sfhover i.arrow {
	display:block;
	width:10px;
	height:74px;
	margin:0;
	float:none;
	background:#FFF;
	position:absolute;
	z-index:99;
	right:-8px;
	top:0;
	overflow:hidden;
}
.cpTit_P {
	height:32px;
	line-height:32px;
}
.cpTit_P a {
	padding-right:10px;
	color:#555;
}
.chanpin_nav dt .mddBox {
	width:768px;
	border:2px solid #FFAA11;
	background:#ffffff;
	display:none;
}
.chanpin_nav dt.sfhover .mddBox {
	display:block;
}
.chanpin_nav dt .A1 {
	right:-774px;
	top:-2px;
	position:absolute;
}
.chanpin_nav dt .A2 {
	right:-774px;
	top:-80px;
	position:absolute;
}
.chanpin_nav dt .A3 {
	right:-774px;
	top:-158px;
	position:absolute;
}
.chanpin_nav dt .A4 {
	right:-774px;
	top:-98px;
	position:absolute;
}
.chanpin_nav dt .A5 {
	right:-774px;
	top:-279px;
	position:absolute;
}
.chanpin_nav dt .A6 {
	right:-774px;
	top:-288px;
	position:absolute;
}
.chanpin_nav dt .A7 {
	right:-774px;
	top:-51px;
	position:absolute;
}
.chanpin_nav dt .A8 {
	right:-774px;
	top:-212px;
	position:absolute;
}
.subItem-box1 {
	width:354px;
	height:auto;
	float:left;
	padding:6px 15px 0;
	overflow:hidden;
}
.subItem-box2 {
	width:354px;
	height:auto;
	overflow:hidden;
}
.subItem-hd {
	width:354px;
	height:30px;
	font:bold 14px/30px "寰蒋闆呴粦","瀹嬩綋",Arial;
	color:#EE6611;
	background:url(../images/mdd_zx.gif) no-repeat bottom left;
	margin-bottom:6px;
}
.subItem-hd a {
	color:#333;
}
.subItem-hd a:hover {
	color:#F60;
}
.subItem-cat {
	width:354px;
	line-height:15px;
}
.subItem-cat a {
	height:15px;
	line-height:15px;
	display:inline-block;
	border-right:1px solid #CCC;
	padding:0 8px;
	white-space:normal;
	word-break:keep-all;
	white-space:nowrap;
	margin-bottom:6px;
	color:#666;
}
.subItem-cat a:hover {
	color:#F60;
}
.subItem-cat a.hot {
	color:#F60;
}
.subItem-cat a.hot:hover {
	color:#F00;
}
.subImage {
	width:354px;
	height:164px;
	overflow:hidden;
}
.subImage img {
	width:354px;
	height:164px;
}
.subItem-fu1 {
	width:748px;
	height:auto;
	float:left;
	padding:0 10px;
	overflow:hidden;
}
.subItem-zi2 {
	width:748px;
	height:auto;
	overflow:hidden;
}
.subItem-tou {
	width:748px;
	height:30px;
	font:bold 14px/30px "寰蒋闆呴粦","瀹嬩綋",Arial;
	color:#EE6611;
	background:url(../images/mdd_zx.gif) no-repeat bottom left;
	margin-bottom:6px;
}
.subItem-tou a {
	color:#333;
}
.subItem-tou a:hover {
	color:#F60;
}
.subItem-con {
	width:748px;
	line-height:15px;
}
.subItem-con a {
	height:15px;
	line-height:15px;
	display:inline-block;
	border-right:1px solid #CCC;
	padding:0 8px;
	white-space:normal;
	word-break:keep-all;
	white-space:nowrap;
	margin-bottom:6px;
	color:#424242;
}
.subItem-con a:hover {
	color:#F60;
}
.subItem-con a.hot {
	color:#F60;
}
.subItem-con a.hot:hover {
	color:#F00;
}
.subphoto {
	width:748px;
	height:180px;
	background:url(../images/dongnanyabj.jpg) no-repeat center;
	overflow:hidden;
}
.subphoto2 {
	width:748px;
	height:180px;
	background:url(../images/ouzhou.jpg) no-repeat center;
	overflow:hidden;
}
.subphoto img {
	width:748px;
	height:180px;
}
.memuNav {
	height:48px;
	float:left;
	overflow:hidden;
}
.memuNav li {
	width:100px;
	height:48px;
	font:normal 16px/48px "寰蒋闆呴粦",Arial,"瀹嬩綋";
	float:left;
	background:url(../images/menu_line.png) no-repeat right center;
	text-align:center;
	overflow:hidden;
}
.memuNav li.current {
	background:#EE6611;
}
.memuNav li a {
	display:block;
	height:48px;
	color:#FFF;
}
.memuNav li a:hover {
	text-decoration:none;
	background:#EE6611;
	color:#FFF;
}
.ft_help {
	width:100%;
	height:auto;
	background:#F5F7FA;
	margin-top:30px;
	padding-top:30px;
	border-bottom:1px solid #DDD;
	border-top:2px solid #C4C4C4;
	overflow:hidden;
}
.helpBox {
	width:1190px;
	height:auto;
	margin:0 auto;
	overflow:hidden;
}
.helpBox li {
	width:145px;
	height:135px;
	float:left;
	padding-bottom:15px;
	margin-left:24px;
	_display:inline;
	border-left:1px solid #ddd;
	position:relative;
}
.helpCon {
	min-height:135px;
	_height:135px;
	padding-left:30px;
}
.helpTit {
	font:normal 14px/30px "寰蒋闆呴粦",Arial,"瀹嬩綋";
	color:#000;
}
.helpTxt {
	font:normal 12px/25px "寰蒋闆呴粦",Arial,"瀹嬩綋";
	color:#666;
}
.helpTxt a {
	color:#666;
}
.helpTxt a:hover {
	color:#F60;
}
.helpBox li i {
	display:block;
	width:30px;
	height:30px;
	position:absolute;
	top:0;
	left:-15px;
}
.helpico1 {
	background:url(../images/all.png) no-repeat 0 -470px;
}
.helpico2 {
	background:url(../images/all.png) no-repeat -30px -470px;
}
.helpico3 {
	background:url(../images/all.png) no-repeat -60px -470px;
}
.helpico4 {
	background:url(../images/all.png) no-repeat -90px -470px;
}
.helpico5 {
	background:url(../images/all.png) no-repeat -120px -470px;
}
.helpico6 {
	background:url(../images/all.png) no-repeat -150px -470px;
}
.helpico7 {
	background:url(../images/all.png) no-repeat -180px -470px;
}
.footer {
	width:100%;
	padding:20px 0;
	background:#F5F5F5;
}
.footer2 {
	width:100%;
	height:auto;
	background:#F5F7FA;
	margin-top:30px;
	padding:20px 0;
	border-top:2px solid #C4C4C4;
	overflow:hidden;
}
.aboutBox {
	width:1000px;
	margin:0 auto;
	text-align:center;
	font:normal 12px/30px Arial,"瀹嬩綋";
	color:#999;
}
.aboutBox a {
	color:#555;
	padding:0 8px;
}
.aboutBox a:hover {
	color:#F60;
}
.why {
	width:1000px;
	height:62px;
	margin:0 auto;
	text-align:center;
}
.why img {
	margin:0 5px;
}
.copyright {
	width:1000px;
	margin:0 auto;
	text-align:center;
	font:normal 12px/30px Verdana,Arial,"瀹嬩綋";
	color:#555;
}
.copyright a {
	color:#555;
}
.copyright p span {
	color:#f40;
	font:700 14px/30px "\5FAE\8F6F\96C5\9ED1",Arial,"瀹嬩綋";
	padding:0 5px;
}
.links {
	width:990px;
	height:auto;
	margin:15px auto 0;
	padding:10px 4px;
	border:1px solid #E5E5E5;
	overflow:hidden;
}
.links li {
	width:99px;
	height:25px;
	line-height:25px;
	float:left;
	color:#888;
	text-align:center;
}
.links li a {
	color:#888;
}
#topmenu {
	position:fixed;
	top:0px;
	left:0px;
	right:0px;
	width:100%;
	margin:0 auto;
	height:60px;
	background-color:transparent;
	z-index:10000;
	display:none;
}
#topmenu .tbox {
	width:100%;
	height:40px;
	box-shadow:0 7px 5px rgba(0,0,0,0.1);
	background:#FFF;
	padding:10px 0;
	border-bottom:1px solid #efefef;
}
#topmenu .tcon {
	width:1200px;
	margin:0 auto;
	position:relative;
}
#topmenu .tlogo {
	width:260px;
	height:40px;
	float:left;
}
#topmenu .tsearch {
	width:520px;
	height:38px;
	position:absolute;
	left:50%;
	top:0;
	margin-left:-260px;
}
#topmenu .tsearch .t_ipt {
	width:413px;
	height:34px;
	float:left;
	padding-left:25px;
	line-height:34px;
	color:#999;
	border:2px solid #F80;
	border-right:none;
	background:#FFF url(../images/search_ipt.png) no-repeat 8px center;
}
#topmenu .tsearch .t_btn {
	width:80px;
	height:38px;
	font:400 18px/38px "\5FAE\8F6F\96C5\9ED1",Arial,"瀹嬩綋";
	text-align:center;
	float:left;
	background:#f80;
	color:#FFF;
	cursor:pointer;
}
#topmenu .tsearch .t_btn:hover {
	background:#f60;
	color:#FFF;
}
#topmenu .t_tel {
	width:200px;
	float:right;
	height:40px;
	background:url(../images/t_tel.gif) no-repeat left center;
}
.place {
	width:1200px;
	height:16px;
	font:400 12px/30px "瀹嬩綋";
	margin:0 auto;
	padding-top:8px;
}
.place span {
	color:#555;
}
.place a {
	color:#555;
	padding:0 6px;
}
.place a:hover {
	color:#F60;
}
.place em {
	padding-left:6px;
	color:#555;
}
.munebox2 {
	left:0;
	bottom:0;
	height:100%;
	z-index:201;
	position:fixed;
	_position:absolute;
	_height:800px;
}
.mune2 {
	width:36px;
	height:100%;
	background:#E1E1E1;
	float:left;
	position:relative;
	z-index:200;
}
.munecon2 {
	width:36px;
	position:absolute;
	bottom:50%;
	left:0;
	margin-bottom:-125px;
}
.munecon2 li {
	width:36px;
	padding:20px 0px 0;
	position:relative;
}
.qqie {
	width:36px;
	line-height:25px;
	text-align:center;
}
.qqie img {
	display:block;
	margin:0 auto;
}
.qqie a {
	color:#666;
}
.qqie a:hover {
	color:#666;
	text-decoration:none;
}
.qkefu {
	width:273px;
	height:auto;
	padding:20px;
	position:absolute;
	top:10px;
	left:36px;
	z-index:220;
	overflow:hidden;
	display:none;
	border:1px solid #E6E6E6;
	background:#F9F9F9;
	box-shadow:3px 0px 5px rgba(0,0,0,0.2);
}
.qkefu p.qiyeqq {
	width:273px;
	height:25px;
	line-height:25px;
	padding:10px 0;
	border-bottom:1px dotted #A2A2A2;
}
.qkefu p.qiyeqq img {
	vertical-align:middle;
	margin-right:10px;
}
.qkefu p.dizhi {
	line-height:25px;
	margin-top:5px;
}
.mune2 .anniu_hand {
	position:absolute;
	bottom:10%;
}
.mune2 a.open {
	width:20px;
	height:20px;
	left:8px;
	background:url(../images/gb_bj.png) no-repeat;
}
.mune2 a.close {
	width:54px;
	height:50px;
	left:36px;
	background:url(../images/kq_bj.png) no-repeat;
}
.ad1200 {
	width:1200px;
	height:100px;
	margin:20px auto 0;
}
.main {
	width:1200px;
	margin:0 auto;
}
.inbox {
	width:760px;
	height:380px;
	padding:11px 10px 0;
	float:left;
}
.inbox_zhiding {
	width:210px;
	height:380px;
	float:left;
	background:#F5F5F5;
}
.inbox_zhiding a {
	display:block;
	width:180px;
	height:86px;
	padding:20px 15px;
	border-bottom:1px solid #E6E6E6;
	overflow:hidden;
	position:relative;
}
.inbox_zhiding a:hover {
	text-decoration:none;
	background:#ebebeb;
}
.inbox_zhiding a.nobor {
	border:0;
}
.inbox_zhiding a span {
	display:block;
	width:180px;
	height:20px;
	line-height:20px;
	overflow:hidden;
}
.inbox_zhiding .inbox_zhiding_pre {
	height:25px;
	line-height:25px;
	font-size:14px;
	color:#F60;
	font-family:"Microsoft YaHei","寰蒋闆呴粦",Arial,"瀹嬩綋";
}
.inbox_zhiding .inbox_zhiding_tit {
	margin:5px 0 2px;
	font:700 14px/20px "Microsoft YaHei","寰蒋闆呴粦",Arial,"瀹嬩綋";
	color:#505050;
}
.inbox_zhiding .inbox_zhiding_con {
	font:400 12px/20px tahoma,Arial,"瀹嬩綋";
	color:#969696;
}
.inbox_zhiding em {
	width:16px;
	height:16px;
	background:url(../images/jiantou.png) no-repeat -2px -2px;
	display:block;
	position:absolute;
	right:20px;
	bottom:10px;
}
.inbox_zhiding a:hover em {
	background:url(../images/jiantou.png) no-repeat -50px -2px;
}
.focusPic {
	width:550px;
	height:380px;
	float:left;
	z-index:1;
	position:relative;
	overflow:hidden;
}
.focusPic2 li {
	height:380px;
}
.focusPic2 img {
	width:550px;
	height:380px;
}
.focusPic .num {
	height:25px;
	position:absolute;
	bottom:15px;
	right:15px;
	zoom:1;
	z-index:3;
	overflow:hidden;
}
.focusPic .num li {
	width:25px;
	height:25px;
	text-align:center;
	font:400 14px/25px Verdana,Arial,"瀹嬩綋";
	color:#FFF;
	background:#EE6611;
	margin-left:10px;
	border-radius:50%;
	cursor:pointer;
	float:left;
}
.focusPic .num li.on {
	background:#f80;
}
.focusPic .prev,.focusPic .next {
	display:none;
	width:40px;
	height:100px;
	background:url(../images/btn.png) no-repeat;
	position:absolute;
	top:115px;
}
.focusPic .prev {
	left:0;
}
.focusPic .next {
	right:0;
	background-position:right
}
.main_rt {
	width:210px;
	height:380px;
	margin-top:11px;
	float:right;
}
.hyd {
	width:208px;
	height:175px;
	border:1px solid #E5E5E5;
	overflow:hidden;
}
.hyd .tit {
	width:208px;
	height:35px;
	background:#F3F3F3;
}
.hyd .tit li {
	width:104px;
	float:left;
	height:35px;
	font:400 14px/35px "\5FAE\8F6F\96C5\9ED1",Arial,"瀹嬩綋";
	cursor:pointer;
	color:#333;
	text-align:center;
}
.hyd .tit li.hover {
	background:#FFF;
}
.hyd .con {
	width:184px;
	height:120px;
	margin:10px 12px;
	display:block;
	overflow:hidden;
}
.hyd .con li {
	width:184px;
	height:30px;
	overflow:hidden;
}
.hyd .con li a.the1 {
	color:#F27239;
}
.hyd .con li a.the2 {
	color:#555;
	margin-left:5px;
}
.zhuti {
	width:208px;
	height:202px;
	background:#F5F7FA;
	border:1px solid #EEE;
	border-top:0;
	overflow:hidden;
	position:relative;
}
.clearfix2 {
	*zoom:1
}
.zt_box {
	width:208px;
	height:202px;
	overflow:hidden;
	position:absolute;
}
.zt_con {
	width:208px;
	height:202px;
	float:left;
	overflow:hidden;
	position:relative;
}
.zt_pic {
	width:138px;
	height:138px;
	padding:20px 35px 10px;
	float:left;
	overflow:hidden;
}
.zt_pic img {
	width:138px;
	height:138px;
	border-radius:50%;
	display:block;
}
.zt_txt {
	width:208px;
	height:20px;
	font:normal 12px/20px tahoma,Arial,"瀹嬩綋";
	text-align:center;
	overflow:hidden;
}
.zt_txt a {
	color:#777;
}
.zhuti a.prev2 {
	display:block;
	cursor:pointer;
	width:10px;
	height:20px;
	background:url(../images/all.png) no-repeat -2px -46px;
	position:absolute;
	left:10px;
	top:90px;
	z-index:999;
}
.zhuti a.next2 {
	display:block;
	cursor:pointer;
	width:10px;
	height:20px;
	background:url(../images/all.png) no-repeat -42px -46px;
	position:absolute;
	right:10px;
	top:90px;
	z-index:999;
}
.main2 {
	width:1200px;
	height:auto;
	margin:25px auto 0;
	overflow:hidden;
}
.title {
	width:100%;
	height:42px;
	border-bottom:2px solid #AAA;
}
.title b {
	width:26px;
	height:37px;
	text-align:center;
	background:url(../images/all.png) no-repeat -374px -79px;
	line-height:28px;
	font-size:18px;
	color:#FFF;
	display:inline-block;
	float:left;
}
.title span {
	display:inline-block;
	line-height:38px;
	float:left;
	margin-left:20px;
	color:#888;
}
.title h2 {
	float:left;
	font-size:22px;
	font-family:"\5FAE\8F6F\96C5\9ED1",Arial,"瀹嬩綋";
	color:#333;
	line-height:35px;
	margin-left:18px;
}
.title a.mor {
	display:inline-block;
	float:right;
}
.tbg1 {
	background:url(../images/subnav.gif) no-repeat 0 0;
	width:178px;
	height:36px;
	margin-top:6px;
}
.tbg2 {
	background:url(../images/subnav.gif) no-repeat 0 -37px;
	width:199px;
	height:33px;
	margin-top:9px;
}
.tbg3 {
	background:url(../images/subnav.gif) no-repeat 0 -71px;
	width:143px;
	height:41px;
	margin-top:1px;
}
.tbg4 {
	background:url(../images/subnav.gif) no-repeat 0 -113px;
	width:174px;
	height:37px;
	margin-top:5px;
}
.tbg5 {
	background:url(../images/subnav.gif) no-repeat 0 -151px;
	width:159px;
	height:35px;
	margin-top:7px;
}
.tj_box {
	width:1200px;
	padding-top:10px;
}
.tj_con {
	width:220px;
	height:auto;
	float:left;
	border:2px solid #EEE;
	border-bottom:1px solid #DDD;
	box-shadow:4px -2px 6px rgba(0,0,0,.2);
	overflow:hidden;
}
.tj_con_hover {
	border:2px solid #F80;
	border-bottom:1px solid #F60;
}
.tj_pic {
	width:220px;
	height:180px;
	position:relative;
}
.tj_pic img {
	width:218px;
	height:178px;
	padding:1px;
}
.tj_tit {
	width:218px;
	height:30px;
	display:block;
	position:absolute;
	left:1px;
	bottom:1px;
	text-align:center;
	font:normal 14px/30px Arial,"瀹嬩綋";
	color:#FFF;
	overflow:hidden;
}
.tjbg1 {
	background:#2CBA9E;
}
.tjbg2 {
	background:#48AEEC;
}
.tjbg3 {
	background:#018656;
}
.tjbg4 {
	background:#F96043;
}
.tjbg5 {
	background:#9627C2;
}
.tj_txt {
	width:220px;
	height:35px;
	line-height:35px;
	text-align:center;
	background:#E1E6EA;
	overflow:hidden;
}
.tj_txt a {
	color:#28465E;
}
.tj_con_hover .tj_txt {
	background:#f60;
	color:#FFF;
}
.tj_con_hover .tj_txt a {
	color:#FFF;
}
.tj_jia {
	width:200px;
	height:30px;
	padding:10px 0;
	font:400 18px/30px "\5FAE\8F6F\96C5\9ED1",Arial,"瀹嬩綋";
	color:#F40;
	text-align:center;
	margin:0 10px;
	border-bottom:1px solid #E5E5E5;
}
.tj_jia span {
	padding:0 5px;
}
.tj_sheng {
	width:220px;
	height:30px;
	line-height:30px;
	text-align:center;
	color:#888;
	font-family:Arial,"瀹嬩綋";
}
.tj_sheng span {
	padding:0 10px;
}
.tjmgl {
	margin-left:20px;
	_display:inline;
}
.xianlu {
	width:1198px;
	height:auto;
	border:1px solid #EEE;
	border-top:none;
	border-bottom:none;
	overflow:hidden;
}
.xl_lt {
	width:210px;
	height:531px;
	float:left;
	border-bottom:1px solid #EEE;
	background:#E9F7FF;
}
.xl_in {
	width:777px;
	height:auto;
	border-left:1px solid #EEE;
	float:left;
	overflow:hidden;
}
.xl_box {
	width:228px;
	height:235px;
	padding:15px;
	border-right:1px solid #EEE;
	border-bottom:1px solid #EEE;
	float:left;
	overflow:hidden;
}
.xl_box_hover {
	background:#E9F5E1;
}
.xl_pic {
	width:228px;
	height:150px;
	overflow:hidden;
}
.xl_pic img {
	width:228px;
	height:150px;
}
.xl_tit {
	height:44px;
	padding-top:6px;
	font:normal 14px/22px "\5FAE\8F6F\96C5\9ED1",Arial,"瀹嬩綋";
	overflow:hidden;
}
.xl_tit a {
	color:#333;
}
.xl_tit a i {
	height:20px;
	line-height:20px;
	padding:0 8px;
	color:#FFF;
	background:#69BA09;
	font-size:12px;
	font-family:Arial,"瀹嬩綋";
	margin-right:8px;
	display:inline-block;
}
.xl_tit a:hover {
	color:#F60;
}
.xl_tit a:hover i {
	text-decoration:none;
	background:#F80;
	color:#FFF;
}
.xl_jia {
	height:30px;
	line-height:30px;
	padding-top:5px;
	font:normal 14px/30px Verdana,Arial,"瀹嬩綋";
	color:#F60;
}
.xl_rt {
	width:180px;
	height:531px;
	padding:0 15px;
	float:right;
	border-bottom:1px solid #EEE;
}
.xl_rt .htit {
	height:30px;
	padding:10px 0 5px;
	font:700 16px/30px '\5FAE\8F6F\96C5\9ED1',Arial;
	color:#666;
	border-bottom:1px solid #EEE;
}
.fxb {
	width:180px;
	height:120px;
	padding:5px 0;
	border-bottom:1px solid #EEE;
	overflow:hidden;
}
.fxb a {
	float:left;
	display:inline-block;
	width:60px;
	height:30px;
	line-height:30px;
	color:#333;
	text-align:center;
}
.fxb a:hover {
	color:#F60;
	text-decoration:none;
}
.rpic {
	width:180px;
	height:354px;
	overflow:hidden;
}
.rpic li {
	width:180px;
	height:92px;
	padding:12px 0;
	border-bottom:1px solid #EEE;
	overflow:hidden;
}
.rpic li img {
	width:180px;
	height:92px;
}
.zhutiyou {
	width:1200px;
	height:auto;
	margin:25px auto 0;
	overflow:hidden;
}
.ztyBox {
	width:1200px;
	height:auto;
	overflow:hidden;
}
.ztyBox li {
	line-height:30px;
	text-align:center;
	float:left;
	border:1px solid #EEE;
}
.ztyBox li.the1 {
	width:148px;
}
.ztyBox li.the2 {
	width:148px;
	border-left:1px solid #FFF;
}
.ztyBox li a {
	height:90px;
	display:block;
	padding:20px 0 15px;
	background:#F5F7FA;
}
.ztyBox li a:hover {
	background:#FFF;
	text-decoration:none;
	color:#F60;
}
.ztyBox li img {
	width:60px;
	height:60px;
	display:block;
	margin:0 auto;
}
.zyx_lt {
	width:210px;
	height:389px;
	float:left;
	border-bottom:1px solid #EEE;
	background:#F3F3F3;
	overflow:hidden;
}
.zyx_lt_pic1 {
	width:210px;
	height:236px;
}
.zyx_lt_pic1 img {
	width:210px;
	height:236px;
}
.zyx_lt_pic2 {
	width:210px;
	height:153px;
	background:url(../images/visa.jpg) no-repeat;
	text-align:center;
	line-height:40px;
}
.zyx_lt_pic2 a {
	font-size:16px;
	font-family:"\5FAE\8F6F\96C5\9ED1",Arial,"瀹嬩綋";
	color:#FFF;
	background:url(../images/go.gif) no-repeat right center;
	display:inline-block;
	padding-right:30px;
	height:40px;
}
.zyx_in {
	width:776px;
	height:auto;
	border-left:1px solid #EEE;
	float:left;
	overflow:hidden;
}
.zyx_in_line {
	widht:776px;
	height:auto;
	overflow:hidden;
}
.zyx_box {
	width:163px;
	height:205px;
	padding:15px;
	border-right:1px solid #EEE;
	border-bottom:1px solid #EEE;
	float:left;
	overflow:hidden;
}
.zyx_pic {
	width:163px;
	height:120px;
	overflow:hidden;
}
.zyx_pic img {
	width:163px;
	height:120px;
}
.zyx_tit {
	height:44px;
	padding-top:6px;
	font:normal 14px/22px "\5FAE\8F6F\96C5\9ED1",Arial,"瀹嬩綋";
	overflow:hidden;
}
.zyx_jia {
	width:228px;
	height:30px;
	line-height:30px;
	font:normal 14px/30px Verdana,Arial,"瀹嬩綋";
	color:#F60;
}
.zyx_in_visa {
	widht:776px;
	height:auto;
	overflow:hidden;
}
.zyx_visa_box {
	width:163px;
	height:46px;
	padding:15px;
	border-right:1px solid #EEE;
	border-bottom:1px solid #EEE;
	float:left;
	overflow:hidden;
}
.zyx_visa_pic {
	width:66px;
	height:46px;
	float:left;
}
.zyx_visa_pic img {
	width:66px;
	height:46px;
}
.zyx_visa_con {
	width:87px;
	height:46px;
	float:left;
	padding-left:10px;
	overflow:hidden;
}
.zyx_visa_con a {
	display:block;
	height:23px;
	line-height:23px;
}
.zyx_visa_con p {
	height:23px;
	color:#F60;
	font-size:14px;
	font-family:Verdana,Arial,"瀹嬩綋";
}
.f6014 {
	color:#999;
	font-size:12px;
}
.zyx_rt {
	width:181px;
	height:389px;
	padding:0 15px;
	float:right;
	border-bottom:1px solid #EEE;
	background:#F5F7FA;
	overflow:hidden;
}
.zyx_rt .hTit {
	height:30px;
	padding:10px 0 5px;
	font:700 16px/30px '\5FAE\8F6F\96C5\9ED1',Arial;
	border-bottom:1px solid #ddd;
}
.zyx_rt .hTit a {
	color:#018656;
}
.gonglue {
	height:auto;
	border-top:1px solid #FFF;
	padding-top:10px;
	overflow:hidden;
}
.gonglue li {
	height:32px;
	font:400 12px/32px '\5FAE\8F6F\96C5\9ED1',Arial;
	background:url(../images/dot.gif) no-repeat left center;
	overflow:hidden;
}
.gonglue li a {
	margin-left:8px;
}
.float_mask {
	position:fixed;
	z-index:19998;
	width:100%;
	right:0;
	bottom:0;
	height:140px;
	_bottom:auto;
	_width:100%;
	_position:absolute;
	_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)));
}
.float_layer {
	position:absolute;
	left:0;
	bottom:0;
	z-index:1;
	width:100%;
	height:100%;
	background:#071828;
	filter:alpha(opacity=85);
	opacity:0.85;
	z-index:19999;
}
.float_box {
	width:1000px;
	height:100px;
	padding:20px 0;
	margin:0 auto;
	position:relative;
}
.float_box .float-logo {
	width:400px;
	height:100px;
	display:block;
	background:url(../images/float_logo.png) no-repeat;
	position:absolute;
	left:0;
	top:20px;
	text-indent:-9999px;
}
.float_box .float-erwei {
	width:100px;
	height:100px;
	text-indent:-9999px;
	background:url(../images/float_bg.png) no-repeat 0 -160px;
	position:absolute;
	right:430px;
	top:20px;
}
.float_box .float-saomiao {
	width:300px;
	height:100px;
	background:url(../images/saomiao.png) no-repeat;
	position:absolute;
	right:80px;
	top:20px;
}
.float_box .float-close {
	width:41px;
	height:38px;
	background:url(../images/float_bg.png) no-repeat -30px -30px;
	position:absolute;
	right:0;
	top:20px;
	cursor:pointer;
}
.titbox {
	width:1200px;
	height:35px;
	margin:25px auto 0;
	border-bottom:2px solid #AAA;
}
.titbox b {
	width:26px;
	height:35px;
	text-align:center;
	background:url(../images/all.png) no-repeat -374px -79px;
	line-height:28px;
	font-size:18px;
	color:#FFF;
	display:inline-block;
	float:left;
}
.titbox h2 {
	float:left;
	font-size:22px;
	font-family:"\5FAE\8F6F\96C5\9ED1",Arial,"瀹嬩綋";
	color:#333;
	line-height:35px;
	margin-left:18px;
}
.titbox .tabnav {
	height:33px;
	padding:3px 0 0 88px;
	float:left;
}
.titbox .tabnav li {
	float:left;
	height:32px;
}
.titbox .tabnav li a {
	display:block;
	padding:0 20px;
	height:32px;
	font:100 14px/32px "microsoft yahei","SimHei",Arial,sans-serif;
}
.titbox .tabnav li.current a {
	background:#018656;
	color:#FFF;
}
.titbox .tabnav li a:hover {
	text-decoration:none;
}
.shuqiBox {
	width:1200px;
	height:500px;
	margin:0 auto;
	background:url(../images/shuqi_bg.jpg) no-repeat center center;
}
.shuqiBox .sqmdd {
	width:210px;
	height:500px;
	float:left;
}
.shuqiBox .sqmdd ul {
	padding:56px 10px 0;
}
.shuqiBox .sqmdd ul li {
	width:75px;
	height:25px;
	margin:15px 10px 0;
	border-radius:10px;
	background:#FFF;
	font:100 12px/25px "microsoft yahei","SimHei",Arial,sans-serif;
	text-align:center;
	float:left;
}
.shuqiBox .sqmdd ul li a {
	color:#000;
}
.shuqiBox .sqmdd ul li a:hover {
	text-decoration:none;
	color:#F00;
}
.shuqiBox .sqline {
	width:990px;
	height:500px;
	float:left;
	overflow:hidden;
}
.shuqiBox .sqline li.disno {
	display:none;
}
.shuqiBox .sqline li dl.sqlinebox {
	width:215px;
	height:215px;
	margin:10px 0 0 10px;
	padding:10px;
	background:#FFF;
	float:left;
}
.shuqiBox .sqline li dt.sqpic {
	width:215px;
	height:135px;
}
.shuqiBox .sqline li dt.sqpic img {
	width:215px;
	height:135px;
}
.shuqiBox .sqline li dd.sqtxt {
	height:80px;
}
.shuqiBox .sqline li dd.sqtxt em {
	display:block;
	height:50px;
	font:100 14px/25px "microsoft yahei","SimHei",Arial,sans-serif;
	color:#000;
	overflow:hidden;
}
.shuqiBox .sqline li dd.sqtxt p {
	height:30px;
	font:700 18px/30px "microsoft yahei","SimHei",Arial,sans-serif;
	color:#F00;
}
